.main{
    box-shadow: 0px 3px 3px 2px #c0c0c0;
    padding: 35px 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.main > input{
    padding: 0px 15px;
}
.main > h3{
    font-size: 1.1rem;
}
.display-div{
    margin: 20px auto;
    padding: 5px 15px;
    width: 55%;
    background-color: cadetblue;
    box-shadow: 0px 3px 3px 2px #c0c0c0;
}
.track-div > h2{
    text-align: center;
}
.track-div {
    position: relative;
    margin: 20px auto;
    padding: 5px 15px;
    width: 50%;
    box-shadow: 0px 3px 3px 2px #c0c0c0;
    
}
.track-div > div{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 1.1rem;
}

.diet-plan-div{
    margin: 20px auto;
    padding: 5px 15px;
    width: 55%;
    box-shadow: 0px 3px 3px 2px #c0c0c0;
    color: #fff;
}
.diet-plan-div > h2{
    text-align: center;
}