@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.header{
    text-align: center;
    font-size: 3.2rem;
    text-shadow: 5px 5px 3px #e0e0e0;
    background: transparent;
    border-radius: 10px;
    font-family: 'Lobster', cursive;
}
.header > ul{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}
.header > ul > li > a > i{
    font-size: 2.5rem;
    color: #252525;
    padding-right: 20px;
    margin: 0px;
}