@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    font-family: 'Syne';
}
body{
    background: url('./assets/bg.jpg');
    background-size: cover;
}
ul li{
  list-style: none;
}
marquee{
  color: red;
}
input{
  padding: 5px;
}
button{
  padding: 10px;
  width: 100px;
  background: #000;
  border: 2px solid black;
  color: #fff;
}
button:hover{
  background: black;
  color: #fff;
}
button:active{
  transform: scale(0.95);
}
.table tr td{
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 50px;
}
